#reference projects
dma_ddr_ref
gddr_ref_design
acx_gemm_ref_design
matrix_engine_w4gfp8_stable
mlp_jeremy
acx_model_conv
amd_gemm


shell_demo

#build results
**/sim_build/**
**/build/results/**/*.acxdb
# **/*.flash
# **/*.hex
**/demo/**/*.hex
**/ioring/**
**/work/**
**/__pycache__/**
hex/**/*.hex
hex/**/*.txt
**/sw_test/*
!**/sw_test/Makefile
!**/sw_test/*.*

**/gemm/sim/**/*.txt
#build artifacts
**/*.tmp
**/*.log
**/*.o
**/*.mgf
**/*.asdb
**/*.asdbw
**/*.vcd