gemm/build/results/
gemm/demo/bitstream/*.flash
gemm/demo/bitstream/*.hex
gemm_simple/build/results/
gemm_simple/demo/bitstream/*.flash
gemm_simple/demo/bitstream/*.hex
**/*.tmp
**/*.log
**/*.o
**/*.mgf
**/*.asdb
**/work/**
dma_ddr_ref
gddr_ref_design
llm_vp_demo_pcie_orig
shell_demo
